.top{
    padding: 30px 0 20px 0;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        background: #171717CC;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .container{
        z-index: 2;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 255px;
        align-items: flex-start;
    }
}
.breadcrumbs{
    grid-area: 1/1/1/3;
    margin: 0 0 35px 0;
}
.top_content{
    backdrop-filter: blur(60px);
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #656565;
    padding: 24px;
    width: fit-content;
    min-width: 350px;
    max-width: 600px;
}
.top_title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    &:after{
        content: '';
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        background: radial-gradient(circle at 50%, var(--red) 2px, var(--black) 3px, var(--black) 4px, transparent 4px),
        linear-gradient(to right, transparent 9px, transparent 16px),
        linear-gradient(to right, transparent 15px, white 16px, transparent 16px),
        linear-gradient(to bottom, transparent 15px, white 16px, transparent 16px);
    }
}
.top_txt{
    margin: 16px 0 0 0;
    font-size: 20px;
    color: #C5C5C5;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2em;
    max-width: 300px;
}
.top_cta-btn{
    margin: 30px 0 0 0;
    width: 100%;
}
.top_advantage-list{
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}
.top-advantage{
    border: 1px solid #656565;
    backdrop-filter: blur(60px);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 16px;
}
.top-advantage_title{
    font-weight: 500;
    color: #C5C5C5;
    font-size: 14px;
}
.top-advantage .top-advantage_title strong,
.top-advantage .top-advantage_title b{
    color: #fff;
    font-weight: 800;
}
.top-advantage_txt{
    margin: 10px 0 0 0;
    font-size: 26px;
    font-weight: 800;
}
.top_advantage-slider{
    border: 1px solid #656565;
    backdrop-filter: blur(60px);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 16px;
    width: 100%;
    color: #C5C5C5;
}
.top_advantage-slider-item{
    line-height: 1.3em;
    opacity: 0;
}
.top_advantage-slider-item.swiper-slide-active{
    opacity: 1;
}
.top_advantage-slider-pagination{
    margin: 12px 0 0 0;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-width: 100%;
    --swiper-pagination-bullet-height: 2px;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: #656565;
    --swiper-pagination-bottom: auto;
    display: flex;
    gap: 12px;
}
.top_advantage-slider-mobile{
    margin: 220px 0 0 0;
    border: 1px solid #656565;
    backdrop-filter: blur(60px);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 16px;
    width: 100%;
    color: #C5C5C5;
    display: none;
}
.top_advantage-slider-item__title{
    font-size: 12px;
    font-weight: 500;
}
.top_advantage-slider-item__txt{
    margin: 40px 0 0 0;
    font-size: 26px;
    font-weight: 800;
    color: white;
    line-height: 1em;
}
.top_advantage-slider-mobile-pagination{
    margin: 40px 0 0 0;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-width: 100%;
    --swiper-pagination-bullet-height: 2px;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-color: #656565;
    --swiper-pagination-bottom: auto;
    display: flex;
    gap: 12px;
}
@media (min-width: 1024px){
    .top_advantage-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .top .container{
        grid-template-columns: 1fr 500px;
    }
}
@media (min-width: 1024px) {
  .content .container {
    display: grid;
    grid-template-columns: 1fr 255px;
    column-gap: 30px;
    align-items: flex-start;
  }
}

.operator{
    padding: 24px;
    border: 1px solid #656565;
    position: sticky;
    top: 0;
}
.operator_img{
    width: 100%;
    height: 215px;
    object-fit: cover;
    background: #31342F;
}
.operator_position{
    margin: 1em 0 0 0;
    font-size: 12px;
    font-weight: 700;
    background: var(--green);
    padding: 4px 6px;
}
.operator_name{
    margin: 6px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}
.operator_tel{
    margin: 6px 0 0 0;
    color: white;
    font-size: 14px;
}
.operator_txt{
    margin: 1em 0 0 0;
    font-size: 12px;
    color: #B4B4B4;
    line-height: 1.4em;
}
.operator_cta-btn{
    margin: 12px 0 0 0;
    padding: 1.125em;
    width: 100%;
}
.content_txt .txt-block{
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #4F4F4F;
    color: #C5C5C5;
}
.requirements-group{
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #4F4F4F;
}
.requirements-group_txt{
    margin: 16px 0 0 0;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 500;
    ul{
        margin: 0;
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        gap: 16px;
        li{
            display: flex;
            align-items: flex-start;
            gap: 8px;
            &:before{
                content: '';
                flex-shrink: 0;
                width: 26px;
                height: 26px;
                background: radial-gradient(circle at 50%, var(--red) 1px, var(--black) 2px, var(--black) 4px, transparent 4px),
                linear-gradient(to right, transparent 9px, transparent 16px),
                linear-gradient(to right, transparent 12px, white 13px, transparent 14px),
                linear-gradient(to bottom, transparent 12px, white 13px, transparent 14px);
            }
        }
    }
}
.step-list{
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: 100%;
    counter-set: step-index;
}
.step{
    --border-size: 1px;
    margin: calc(-1 * var(--border-size)) 0 0 0;
    counter-increment: step-index;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border: var(--border-size) solid #656565;
    &:before{
        content: counter(step-index);
        font-size: 16px;
        font-weight: 500;
        color: #C5C5C5;
    }
}
.step:nth-child(n - 9):before{
    content: '0'counter(step-index);
}
.vacancy-advantages_list{
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 30px;
}
.vacancy-advantage{
    padding: 16px 16px 40px 16px;
    border: 1px solid #656565;
    font-weight: 500;
    line-height: 1.4em;
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
    align-items: flex-start;
    align-content: flex-start;
    color: #C5C5C5;
    &:before{
        content: '';
        width: 26px;
        height: 26px;
        background: radial-gradient(circle at 50%, var(--red) 1px, var(--black) 2px, var(--black) 4px, transparent 4px),
        linear-gradient(to right, transparent 9px, transparent 16px),
        linear-gradient(to right, transparent 12px, white 13px, transparent 14px),
        linear-gradient(to bottom, transparent 12px, white 13px, transparent 14px);
    }
}
.other-vacancies .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.other-vacancies_nav{
    flex-shrink: 0;
    display: flex;
    gap: 20px;
}
.other-vacancies_nav-btn{
    border: 1px solid #D9D9D9;
    width: 70px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:before{
        content: '';
        width: 17px;
        aspect-ratio: 1/1;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        translate: -17% 0;
        rotate: -45deg;
    }
}
.other-vacancies_nav-btn.prev{
    scale: -1 1;
}
.other-vacancies_slider{
    padding: 30px 0 0 max(var(--mobile-gap), calc((100vw - var(--container-width))/2));
}
.request .container{
    background: var(--green);
    display: grid;
    grid-template-columns: 1fr 365px;
    column-gap: 50px;
    align-items: flex-start;
    padding: 60px;
    grid-template-areas: 'title form' 'contacts form';
}
.request_content{
    grid-area: title;
}
.request_title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.request_txt{
    margin: 20px 0 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    max-width: 430px;
}
.request_contacts{
    grid-area: contacts;
    margin: 60px 0 0 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 35px;
}
.request_contact-group.phones{
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    column-gap: 40px;
}
.request_contact-group_icon-wrapper{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    & :where(img, svg){
        width: 40%;
        height: auto;
        object-fit: contain;
    }
    path{
        fill: var(--green);
    }
}
.request_contact-group_list{
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}
.request_tel{
    color: white;
}
.request_contact-group.main {
    grid-template-columns: 36px 1fr;
    column-gap: 14px;
    .request_contact-group_icon-wrapper {
        display: none;
    }
}
.request_main-tel{
    font-size: clamp(20px, calc(5px + 4vw), 57px);
    font-weight: 700;
    color: white;
    line-height: 1em;
}
.request_contact-explanation{
    margin: 25px 0 0 0;
    font-size: 21px;
    font-weight: 500;
}
.request-form{
    grid-area: form;
    border-left: 1px solid #B4B4B4;
    padding: 0 0 0 30px;
}
.request-form_input-wrapper{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}
.request-form_input-label{
    color: var(--light-gray);
    text-transform: uppercase;
    font-weight: 700;
}
.request-form_input-list{
    display: grid;
    grid-template-columns: 100%;
    gap: 45px;
}
.request-form_input{
    font-weight: 500;
    background: transparent;
    border: none;
    border-bottom: 1px solid #B4B4B4;
    padding: 0 0 5px 0;
    &::placeholder{
        color: var(--light-gray);
    }
}
.request-form_send{
    margin: 60px 0 0 0;
    --color: black;
}
.request-form_policy{
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 12px;
    a{
        text-decoration: underline;
        color: inherit;
    }
}
.request-form_policy-input{
    display: none;
}
.request-form_policy-marker{
    width: 20px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    border: 1px solid white;
}
.request-form_policy-input:checked+.request-form_policy-marker{
    background: white;
}
.contacts .container{
    display: grid;
    grid-template-columns: 1fr 540px;
    align-items: flex-start;
    gap: 25px;
}
.contacts_map{
    width: 100%;
    height: 360px;
    border: none;
}
.contacts_content{
    display: grid;
    grid-template-columns: 100%;
    gap: 25px;
}
.contact{
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}
.contact_label{
    background: var(--red);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    width: fit-content;
    line-height: 1em;
}
.contact_value{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
a.contact_value{
    font-size: 32px;
}
@media (max-width: 1024px) {
    .top{
        padding: 14px 0 10px 0;
        .container{
            grid-template-columns: 100%;
        }
    }
    .top_content{
        min-width: 0;
        width: auto;
        margin-bottom: 16px;
        max-width: none;
    }
    .breadcrumbs{
        grid-area: auto;
        margin: 0 0 14px 0;
    }
    .top_title{
        font-size: 24px;
    }
    .top_txt{
        font-size: 16px;
    }

    }
    .top_advantage-slider-mobile{
        display: block;
    }


    .vacancy-advantages_list{
        gap: 24px;
    }
    .requirements-group{
        margin: 24px 0 0 0;
        padding: 24px 0 0 0;
    }
    .other-vacancies_nav-btn{
        width: 32px;
        &:before{
            width: 7px;
        }
    }
    .request .container{
        padding: 20px var(--mobile-gap);
        grid-template-columns: 100%;
        grid-template-areas: 'title' 'form' 'contacts';
    }
    .request_title{
        font-size: 14px;
    }
    .request_txt{
        margin: 8px 0 0 0;
        font-size: 12px;
    }
    .request_contacts{
        margin: 40px 0 0 0;
        gap: 20px;
    }
    .request_contact-group.phones{
        grid-template-columns: 36px 1fr;
        column-gap: 14px;
    }
    .request_contact-group.main{
        display: grid;
        .request_contact-group_icon-wrapper {
            display: flex;
        }
    }
    .request_contact-explanation{
        margin: 0;
        font-size: 14px;
        font-weight: 400;
    }
    .request-form{
        margin: 25px 0 0 0;
        border-left: none;
        padding: 0;
    }
    .request-form_send{
        margin: 50px 0 0 0;
    }
    .contacts .container{
        grid-template-columns: 100%;
    }
}
@media (max-width: 1024px) {
    .content_txt .txt-block {
        margin: 24px 0 0 0;
        padding: 24px 0 0 0;
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .requirements-group_txt {
        font-size: 14px;
    }
}