.cta .container{
    background: var(--dark-gray);
    padding: 55px 60px;
    display: grid;
    grid-template-columns: 530px 1fr;
    column-gap: 75px;
    row-gap: 45px;
    align-items: flex-start;
}
.cta_title{
    font-size: clamp(18px, calc(9px + 2.5vw), 30px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4em;
}
.cta_subtitle{
    margin: .5em 0 0 0;
    font-size: clamp(16px, calc(10px + 1.5vw), 26px);
    color: var(--gray);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
}
.cta_btn{
    margin: 50px 0 0 0;
    background: linear-gradient(to bottom, transparent, transparent 8px, var(--red) 8px, var(--red) calc(100% - 8px), transparent calc(100% - 8px)),
    linear-gradient(to right, white, white 8px, var(--red) 8px, var(--red) calc(100% - 8px), white calc(100% - 8px));
    color: white;
    font-size: 16px;
    padding: 1.125em 3.9em;
    border: none;
}
.cta_contact-list{
    display: grid;
    grid-template-columns: 100%;
    gap: 32px;
    align-self: center;
}
.cta_contact{
    font-size: 28px;
    font-weight: 700;
    color: white;
}
.cta_contact-wrapper{
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 20px;
    align-items: flex-start;
}
.cta_contact-icon{
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--green);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    & :where(img, svg){
        width: 13px;
        height: auto;
        object-fit: contain;
    }
    path{
        fill: white;
    }
}

@media(max-width: 1200px){
    .cta .container{
        padding: 20px;
        grid-template-columns: 100%;
    }
    .cta_btn{
        margin: 30px 0 0 0;
        font-size: 14px;
    }
    .cta_contact{
        font-size: 20px;
    }
}