.equipment{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-template-areas: 'title nav' 'slider slider';
    row-gap: 65px;
    padding: 0 0 0 max(var(--mobile-gap), calc((100vw - var(--container-width))/2));
}
.equipment_title-wrapper{
    grid-area: title;
}
.equipment_subtitle{
    margin: 10px 0 0 0;
    color: var(--gray);
    text-transform: uppercase;
    font-size: clamp(16px, calc(5px + 3vw), 40px);
    font-weight: 700;
}
.equipment_nav{
    margin: 0 max(var(--mobile-gap), calc((100vw - var(--container-width))/2)) 0 0;
    grid-area: nav;
    display: flex;
    gap: 20px;
}
.equipment_slider{
    grid-area: slider;
}
.equipment-item{
    display: grid;
    grid-template-columns: 100%;
}
.equipment-item_img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.equipment-item_title{
    margin: 25px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1024px) {
    .equipment{
        grid-template-columns: 100%;
        grid-template-areas: 'title' 'slider' 'nav';
        row-gap: 0;
    }
    .equipment_nav{
        margin: 40px 0 0 0;
        justify-self: center;
        gap: 7px;
    }
    .equipment-item_img{
        height: 90px;
    }
}